.loseTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Jaro";
}

.loseTitle h1 {
    color: #FA514A;
    text-shadow: 7px 7px #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150px;
}

.loseTitle h2 span{
    color: #EAE712;
    text-shadow: 1px 1px #000;
}