.GameDifficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: "Jaro", sans-serif;
    color: #EAE712;
    text-shadow: 1px 5px #000;
}

.button_trio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 50vw;
    height: 50vh;
}